services:
  weaviate:
    image: cr.weaviate.io/semitechnologies/weaviate:1.32.0
    restart: unless-stopped
    ports:
      - "8082:8080"
      - "50051:50051" # gRPC
    environment:
      QUERY_DEFAULTS_LIMIT: "25"
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: "true"
      PERSISTENCE_DATA_PATH: "/var/lib/weaviate"
      ENABLE_MODULES: "text2vec-ollama,generative-ollama"
      DEFAULT_VECTORIZER_MODULE: "text2vec-ollama"
      CLUSTER_HOSTNAME: "node1"
      GRPC_ENABLED: "true"
      # Ollama module config
      OLLAMA_INFERENCE_API: "http://${OLLAMA_HOST:-ollama}:${OLLAMA_PORT:-11434}"
      TEXT2VEC_OLLAMA_ENABLED: "true"
      GENERATIVE_OLLAMA_ENABLED: "true"
      # Distance defaults (cosine)
      VECTOR_INDEX_DISTANCE_METRIC: "cosine"
    volumes:
      - weaviate_data_v2:/var/lib/weaviate
    depends_on:
      - ollama

#no needed for the moment...
  # console:
  #   image: cr.weaviate.io/semitechnologies/console:latest
  #   restart: unless-stopped
  #   ports:
  #     - "8081:8080"
  #   environment:
  #     WEAVIATE_HOST: "weaviate"
  #     WEAVIATE_PORT: "8080"
  #   depends_on:
  #     - weaviate

  ollama:
    image: ollama/ollama:latest
    restart: unless-stopped
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama

  backend:
    build:
      context: ./backend
    volumes:
      - ./backend:/app
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    environment:
      WEAVIATE_HOST: ${WEAVIATE_HOST:-weaviate}
      WEAVIATE_HTTP_PORT: ${WEAVIATE_HTTP_PORT:-8082}
      WEAVIATE_GRPC_PORT: ${WEAVIATE_GRPC_PORT:-50051}
    depends_on:
      - weaviate

  # frontend:
  #   image: nginx:alpine
  #   volumes:
  #     - ./frontend:/usr/share/nginx/html:ro
  #   ports:
  #     - "5173:80"
  #   depends_on:
  #     - backend

volumes:
  weaviate_data_v2:
  ollama_data:
